<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="KartinaEntities" connectionString="metadata=res://*/MonContexte.csdl|res://*/MonContexte.ssdl|res://*/MonContexte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LES1U0B\SQLEXPRESS;initial catalog=Kartina;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KartinaEntities1" connectionString="metadata=res://*/Context2.csdl|res://*/Context2.ssdl|res://*/Context2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LES1U0B\SQLEXPRESS;initial catalog=Kartina;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ladiagonale_poulposhi_database_rec_version_devEntities" connectionString="metadata=res://*/Poulposhi.csdl|res://*/Poulposhi.ssdl|res://*/Poulposhi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ns334685.ip-5-196-66.eu;initial catalog=ladiagonale_poulposhi_database_rec_version_dev;user id=poulposhi_user;password=&quot;&quot;Kh3&lt;8[T_d@Uy'8Zk&quot;&quot;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>